@import url(./main.css);

h1::before {
  display: none;
}

h1 {
  left: 0;
}

.content section {
  background-color: var(--neutral-000);
  padding: 2rem;
  border-radius: 8px;
  max-width: 1176px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 0fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.divider {
  border-right: 1px solid var(--neutral-100);
  border-bottom: none;
  height: 100%;
  padding: 1.2rem;
  margin-left: 2rem;
  margin-right: 3rem;
  align-self: center;
}

.right-side {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  gap: 1rem;
}

p {
  color: var(--neutral-200);
  font-weight: var(--fw-regular);
}

.topic-destination {
  /* Line Clamp */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* media queries */

@media screen and (max-width: 750px) {
  .content section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .divider {
    border-right: none;
    border-bottom: 1px solid var(--neutral-100);
    width: 80%;
    height: 0;
    padding: 0;
  }

  .right-side {
    margin-top: 1rem;
  }

  .topic-destination {
    margin-bottom: 0rem;
  }
}
